@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideLeftToRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply slide-up animation to all elements inside .right-side */
.right-side > * {
  animation: slideUp 0.8s ease-out;
}

/* Apply slide-in animation to the left side */
.left-side {
  width: 90%;
  background-image: url('../../assets/images/login_picture.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  animation: slideLeftToRight 0.8s ease-out;
}

.container {
  display: flex;
  height: 100vh;
}

.company-logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 300px;
}

/* Right Side - Login Form */
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.app-logo {
  width: 300px;
  margin-bottom: 10px;
}

.title {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  width: 80%;
  max-width: 300px;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.user {
  margin-right: 227px;
}

.options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 15px;
}

.forgot-password {
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 10px;
  background: #001F8B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background: #001470;
}

.password-container {
  position: relative;
  width: 100%;
}

.password-container .input-field {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #555;
}
